/* @import "./css/_table.css";
@import "./css/_scrollbars.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Interstate;
    font-weight: 400;
    src: url(./assets/fonts/Interstate-Regular.otf);
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

